{% extends 'base.html' %}

{% block title %}Capítulo #3{% endblock %}

{% block content %}
<section id="cap2" class="py-5">
    <div class="container">
        <h2 class="text-center mb-4">Capítulo 2: Métodos de Interpolación</h2>
        
        <div class="row">
            <!-- Main Methods -->
            <div class="col-md-4">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title">Metodo de Lagrange</h5>
                        <p class="card-text">Método de Lagrange para encontrar el polinomio que interpola un conjunto de puntos dados.</p>
                        <a href="/methods/lagrange/" class="btn btn-primary">Ir al método</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title">Vandermonde</h5>
                        <p class="card-text">Obtiene el polinomio interpolante mediante matrices.</p>
                        <a href="/methods/vandermonde/" class="btn btn-primary">Ir al método</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title">Newton</h5>
                        <p class="card-text">Obtiene el polinomio interpolante usando diferencias divididas.</p>
                        <a href="/methods/newton_int/" class="btn btn-primary">Ir al método</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Show More Methods -->
        <div class="collapse" id="more-methods">
            <div class="row mt-4">
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Spline</h5>
                            <p class="card-text">Interpola datos usando polinomios por tramos para mayor precisión y suavidad.</p>
                            <a href="/methods/spline/" class="btn btn-primary">Ir los métodos</a>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
        <div class="text-center mt-4">
            <button class="btn btn-outline-primary" type="button" data-bs-toggle="collapse" data-bs-target="#more-methods" aria-expanded="false" aria-controls="more-methods">
                Más Métodos
            </button>
        </div>
    </div>
</section>
{% endblock %}
